:root {

    --white: #fff;
    --black: #131316;

    --gray-1: #605E6D;
    --gray-2: #DFDEE2;
    --gray-3: #BCC2C3;

    /* main colors */
    --color-primary: #4891FF;
    --color-secondary: #F5F5F5;
    --color-on-primary: var(--white);

    /* typography */
    --font-primary: "Poppins", sans-serif;
    --color-text: var(--black);

    /* type scale */
    --text-xs: 1.0rem;
    --text-sm: 1.2rem;
    --text-md: 1.6rem;
    --text-lg: 1.8rem;
    --text-xl: 2.0rem;
    --text-2xl: 3.6rem;
    --text-3xl: 4.8rem;
    --text-4xl: 6.4rem;


    /* space */
    --space-xs: 2.0rem;
    --space-sm: 2.4rem;
    --space-md: 4.0rem;
    --space-lg: 8.0rem;
    --space-xl: 9.6rem;


}

* {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    vertical-align: mdline;
    list-style: none;
    border: 0;
    scroll-behavior: smooth;
    font-family: var(--font-primary);
    text-decoration: none;
    font-weight: 400;

}

a {
    color: var(--black);
}


main {
    margin: 3rem auto;
    width: 130rem;
}

h1 {
    font-size: var(--text-4xl);
    font-weight: 500;
    max-width: 92.4rem;
    line-height: 110%;
    margin-bottom: var(--space-sm);
    letter-spacing: -0.2rem;
}

h2 {
    font-size: var(--text-3xl);
    font-weight: 500;
    max-width: 83.5rem;
    line-height: 120%;
    margin-bottom: var(--space-sm);
    letter-spacing: -0.1rem;
}

h3 {
    font-size: var(--text-2xl);
    font-weight: 500;
    line-height: 120%;
    margin-bottom: var(--space-xs);
    letter-spacing: -0.1rem;
}

h4 {
    font-size: var(--text-xl);
    line-height: 120%;
    margin-bottom: var(--space-xs);
}

p {
    max-width: 61rem;
    line-height: 160%;
    margin-bottom: var(--space-md);
    font-size: var(--text-md);
}

p.text-base {
    line-height: 160%;
    font-size: var(--text-md);
    margin: auto;
    color: #494A4D;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-lg);
}

.navigation a,
.navigation button {
    font-size: var(--text-md);
    font-weight: 500;
    margin-left: 4rem;
}

button.sm {
    border-radius: 1.2rem;
    padding: 1.2rem 2.4rem;
    font-size: var(--text-md);
}

button.md {
    border-radius: 1.8rem;
    padding: 1.6rem 3.2rem;
    font-size: var(--text-lg);
    margin-right: 1.6rem;
}

button.primary {
    background-color: var(--color-primary);
    color: var(--white);
}

button.secondary {
    background-color: var(--color-secondary);
}


button.icon img {
    vertical-align: middle;
    margin-right: 1rem;
}


.button-text {
    display: flex;
    gap: 0.8rem;
    font-size: var(--text-md);
    font-weight: 500;
    margin: var(--space-xs) 0;
    cursor: pointer;
}

.images-head {
    position: relative;
    bottom: 13rem;
}

.images-head :nth-child(2) {
    position: relative;
    left: -3.5rem;
}

.images-head :nth-child(3) {
    position: relative;
}

.heading-2 {
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 6.5rem;
    max-width: 84rem;
}

.heading-3 {
    margin-bottom: var(--space-md);
    max-width: 51rem;
}

.flex {
    display: flex;
    gap: var(--space-sm);
    justify-content: center;
}

section {
    margin-bottom: 9.8rem;
}

.box {
    height: 4.9rem;
    overflow: hidden;
    border-bottom: 0.1rem solid #DFDEE2;
    transition: all 500ms ease-in-out;
    margin-top: var(--space-xs);
    cursor: pointer;
}

.box:is(:hover) {
    height: 10rem;
    border-bottom: 0.1rem solid var(--black);
}

.box-title {
    display: flex;
    justify-content: space-between;
}

.box img {
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.box:has(:hover) img {
    opacity: 100%;
}

footer {
    background-color: var(--black);
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 100ms opacity;
}

button.menu {
    display: none;
}

footer {
    padding: 11rem 8.5rem 4rem 8.5rem;
}

.footer-content {
    max-width: 126.5rem;
    margin: auto;
}

.footer-content img {
    margin-bottom: 2.4rem;
}

footer a {
    font-size: 1.6rem;
    color: #BCC2C3;
}

h5 {
    font-size: 1.8rem;
    color: #DFDEE2;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.subscribe {
    max-width: 40.5rem;
    background-color: #F4F4F6;
    border-radius: 1.6rem;
    padding: 2.4rem;
    margin-bottom: 2rem;
}

.subscribe h5 {
    color: #35333C;
}

.subscribe p {
    margin-bottom: 2rem;
}

form {
    display: flex;
    align-items: center;
}

input {
    border: 0.1rem solid #BEBDC6;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    padding-left: 1.2rem;
    height: 4.8rem;
    width: 100%;
    margin-right: 1.6rem;
}

form button {
    width: 12rem;
    border-radius: 0.8rem;
    padding: 1.2rem 2rem;
    font-size: var(--text-md);
}



.links {
    display: flex;
    flex-wrap: wrap;
    gap: 12rem;

}


footer .col {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

}

.social img {
    cursor: pointer;
    margin-right: 1.6rem;
    margin-top: 4rem;
}


.rights {
    font-size: 1.4rem;
    color: #BCC2C3;
    margin-top: 6.5rem;
}

@media screen and (max-width: 800px) {

    main {
        margin: 3rem auto;
        width: 91.4%;
    }

    button.menu {
        display: block;
        height: 4rem;
        width: 4rem;
        padding: 0;
    }

    button.menu img {
        margin: 1.8rem auto 1.6rem auto;
    }

    h1 {
        font-size: var(--text-2xl);
        text-align: center;
        line-height: 110%;
        width: 30rem;
        margin: auto;
    }

    h2 {
        font-size: 3.2rem;
        text-align: center;
        width: 34rem;
        margin: auto;
    }

    h3 {
        font-size: 2.4rem;
    }

    .box:is(:hover, .active) {
        height: 12rem;
    }

    p.text-2 {
        font-size: 1.8rem;
        text-align: center;
        max-width: 34rem;
        margin: 1.6rem auto;
    }

    .text-base {
        font-size: 1.6rem;
        margin: 0;
    }

    .collapsible {
        display: none;
    }

    .images-head {
        position: static;
        margin: 6.3rem 0;
    }

    .images-head img {
        aspect-ratio: auto;
        max-width: 100%;
    }

    .img2 {
        width: 70%;

    }

    .img3 {
        position: relative;
        width: 29%;

    }

    button {
        width: 91.4%;
        margin: 1rem;
    }

    .flex {
        flex-direction: column;
    }

    section:nth-child(even) {
        flex-direction: column-reverse;
    }

    footer {
        padding: 6.4rem 1.6rem 2.4rem 1.6rem;
    }

    input {
        margin-right: 0.8rem;
    }

    .links {
        justify-content: space-between;
        gap: 0;
    }

    footer .col {
        margin: 2rem 0;
    }

    .rights {
        margin-top: 2.4rem;
    }

}